@charset "UTF-8";

/* ======================================================
  全体
========================================================*/
html {
  font-size: 62.5%;
}

body {
  font-family: Helvetica Neue、Arial、Hiragino Sans、Hiragino Kaku Gothic ProN、Meiryo、sans-serif;
  color      : #383e45;
  font-size  : 1.4rem;
  line-height: 1.5;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 2.4rem;
}

h4,
h5,
h6 {
  font-size: 1.6rem;
}

ol,
ul,
dl {
  list-style-position: inside;
}

ol li {
  list-style-type: decimal;
}

ul li {
  list-style: none;
}

li::marker {
  content: none;
}

a {
  text-decoration: none;
  cursor         : pointer;
}

a:hover {
  opacity: 0.7;
}

img {
  width : 100%;
  height: 100%;
}

/* 共通 */
.sp {
  display: none;
}

.pc {
  display:block;
}

.flex {
  display: flex;
}

.wrapper {
  max-width: 1000px;
  padding  : 0 1%;
  margin   : 0 auto;
}

.contents {
  margin    : 85px auto 150px auto;
  text-align: center;
}

.title-logo {
  vertical-align: middle;
}

.sec-title {
  display    : block;
  width      : 100vw;
  height     : 300px;
  line-height: 300px;
  color      : #fff;
  text-align : center;
  font-size  : 7.2rem;
}

.title {
  font-size    : 4rem;
  display      : inline-block;
  border-bottom: 3px solid #E03131;
  margin-bottom: 70px;
}

/* サイドボタン */
main {
  position: relative;
}
#side-btn {
  width: 50px;
  height: 200px;
  background-color: #000;
  color: #fff;
  position: fixed;
  right: 10px;
  bottom: 100px;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  text-align: center;
  line-height: 50px;
  display: none;
  transition: all 0.5s;
}

#side-btn:hover {
  opacity: 0.7;
}

#side-btn.appear {
  display: block;
}

/* ページトップボタン */
main {
  position:relative;
}
#page-top {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  background: #000;
  border-radius: 50%;
}

#page-top::before {
  content:"";
  width:25px;
  height: 25px;
  border-top: 5px solid #fff;
  border-right: 5px solid #fff;
  border-radius: 3px;
  transform: rotate(-45deg);
  position: absolute;
  top: 15px;
  right: 12px;
}
/* フェードイン要素 */
.fadein {
  opacity: 0;
  transform: translate(0, 50%);
  transition: 1.5s;
}

.fadein.show {
  transform: translate(0,0);
  opacity:1;
}
/* header==================================================== */
.header-content.flex {
  justify-content: space-between;
  align-items    : center;
  padding        : 2% 5%;
  width          : 100%;
}

#pc-global-menu {
  width     : 35%;
}


.gbmenu-list li {
  padding: 0 5%;
}

/* マスク */
#mask {
  display   : none;
  transition: all 0.5s;
}

.open #mask {
  display         : block;
  width           : 100%;
  height          : 100%;
  background-color: #ffc0cb;
  position        : fixed;
  top             : 0;
  left            : 0;
  cursor          : pointer;
  z-index: 5;
}

/* main======================================================== */
/* キー画像 */
#keyimg {
  width        : 100vw;
  height       : 600px;
  margin-bottom: 20px;
}

.key {
  width: 100%;
  object-fit: cover;
}

/* 「menu」 */
#menu .sec-title {
  background     : url(images/menu.jpg) fixed no-repeat;
  background-size: cover;
}

.menu-left {
  border-right: 1px solid #000;
}

.menu-left,
.menu-right {
  width: 50%;
}

.menu-table {
  padding      : 5%;
  margin       : 0 auto;
  margin-bottom: 50px;
}

.menu-item.flex {
  justify-content: space-between;
}

.menu-item dt {
  width        : 80%;
  text-align   : left;
  border-bottom: 1px dotted #000;
  padding      : 1%
}

.menu-item dd {
  width  : 20%;
  padding: 1%
}

/* slickスクロール画像 */
.cake-imgs {
  width: 80%;
  margin: 10px auto;
}

.cake-imgs img {
  height: 300px;
  object-fit: cover;
}

.cake-imgs .slick-dots li button:before  {
  font-size: 30px;
}
/* 「about」 */
#about {
  margin-top: 200px;
}

#about .sec-title {
  background     : url(images/about.jpg) fixed no-repeat;
  background-size: cover;
}

.about-text.flex {
  justify-content: space-between;
  flex-wrap      : wrap;
  padding        : 2%;
}

.about-text p {
  width        : 50%;
  margin-bottom: 30px;
}

/* 「location」 */
#location .sec-title {
  background     : url(images/location.jpg) fixed no-repeat;
  background-size: cover;
}

.location-map iframe {
  filter: grayscale(100%);
}

.location-address {
  text-align: left;
}

.location-address p {
  margin-top: 20px;
}
/* footer====================================================== */
#copyright {
  text-align: center;
  padding   : 5%;
}